.mainTable{
    background-color: #004eb9 !important;
    color: #ffffff !important;
    font-size: 35px !important;
    padding: 0px;
}

.noBordes{
    border: none;
}

.mainTableCell{
    color: #0077a7 !important;
    background-color: #ffffff !important;
    font-size: 35px !important;
}

.fondo{
    background-color: #ffe550 !important;
    color: #000000 !important;
}

.fondo2{
    background-color: #66acb6 !important;
    color: #000000 !important;
}

.llamando{
    animation: changeBackground 1s infinite;
}

.llamandoPendiente{
    background-color: #049100 !important; /* Regresa al color inicial */
    color: #ffffff !important;
    font-size: 35px;
}

.loading{
    background-color: #383838 !important;
    color: white !important;
    display: flex;
    justify-content: center;
}

.espera{
    background-color: #FFB900 !important;
    font-size: 35px;

}

.atendiendo{
    background-color:#0077a7 !important;
    color: #ffffff !important;
    font-size: 35px;
}

@keyframes changeBackground {
    0% {
        background-color: #049100; /* Color inicial */
        color: #ffffff;
        font-weight: bolder;
        font-size: 35px;
        display: flex;
        align-items: center !important;
    }
    50% {
        background-color: #ffffff; /* Regresa al color inicial */
        color: #000a63;
        font-weight: bolder;
        font-size: 35px;
    }
    100% {
        background-color: #049100; /* Color inicial */
        color: #ffffff;
        font-weight: bolder;
        font-size: 35px;
    }
}