.mainTable{
    background-color: #0077a7 !important;
    color: #ffffff !important;
    font-size: 35px !important;
}

.mainTableCell{
    color: #0077a7 !important;
    background-color: #ffffff !important;
    font-size: 35px !important;
}

.fondo{
    background-color: #ffe550 !important;
    color: #000000 !important;
}

.fondo2{
    background-color: #66acb6 !important;
    color: #000000 !important;
}

.llamando{
    animation: changeBackground 1s infinite;
}

.llamandoPendiente{
    background-color: #049100 !important; /* Regresa al color inicial */
    color: #ffffff !important;
    font-weight: bolder;
    font-size: 35px;
}

.espera{
    background-color: #FFB900 !important;
    font-weight: bolder;
    font-size: 35px;

}

.atendiendo{
    background-color: #00C1CD !important;
    font-weight: bolder;
    font-size: 35px;
}

@keyframes changeBackground {
    0% {
        background-color: #ffffff; /* Color inicial */
        color: #000000;
        font-weight: bolder;
        font-size: 35px;
    }
    50% {
        background-color: #049100; /* Regresa al color inicial */
        color: #ffffff;
        font-weight: bolder;
        font-size: 35px;
    }
    100% {
        background-color: #ffffff; /* Color inicial */
        color: #000000;
        font-weight: bolder;
        font-size: 35px;
    }
}