.header-container{
    height:16.75vh;
    width:100%;
}

.under-header{
    top: 16.75vh;
}

.imagen{
    height:13vh;
}

.ticker-container {
    width: 100%;
    overflow: hidden;
}
.ticker {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 10s linear infinite;
}
@keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}