.modal{
    display: flex !important;
    justify-content: center !important;
}

.modal-title{
    font-size: 5.5rem !important;
    font-weight:600 !important;
}

.modal-text-dr{
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
}

.modal-text-box{
    margin-top: 0 !important;
    font-size: 3.5rem !important;
    font-weight: 400 !important;
}

.modal-header{
    width: 980% !important;
    margin-left: -440% !important;
    height: 15vh !important;
}

.modal-body {
    margin-bottom: 0 !important;
    width: 980% !important;
    margin-left: -440% !important;
    height: 15vh;
    
}

.modal-footer{
    width: 980% !important;
    margin-left: -440% !important;
    height: 15vh !important;
    margin-top: 0 !important;
}

.modal-dialog{
    display: flex !important;
    justify-content: center;
    width: 10vw;
}
